# F5-TTS Russian Version

# Python
__pycache__/
*.pyc

# Virtual environments
f5tts_env/
venv/

# Models (too large)
ckpts/
*.pt
*.pth
*.safetensors

# Audio outputs
outputs/
*.wav
*.mp3

# Datasets
F5-TTS_RUSSIAN_v2_only/
data/
